#banner {
  .exp-icon {
    display: none;
  }
  
  .group_left {
    position:fixed;
    left:50%;
    margin-left:-340px;
  }

  .group_right {
    float: right;
    margin-right:45px;
  }

  .group_right, .group_left {
    span {
      float:left;
      line-height:52px;
      font-size:90%;
      text-transform:uppercase;
    }
  }
}
