// Original #ffcc00 -3
$popColor: #005eff; // Should have S:100 L:50
$hueOffset: 5;

// Original #4276b6
$pageHeaderBackgroundColor: #009e64;

$linkBlue: #4276b6;

$gray0: #000;
$gray1: #2b2b2b;
$gray2: #393939; // and #333 and #444
$gray3: #666;
$gray4: #999;
$gray5: #c7c7c7; // and #cbcbcb
$gray6: #e5e5e5; // and #d8d8d8
$gray7: #efefef; // and #f3f3f3
$gray8: #fbfbfb;

$popBorder: adjust-color($popColor, $hue:$hueOffset, $lightness:-3%);
$popButton: adjust-color($popColor,  $lightness:27%);
$popButtonHover: adjust-color($popColor,  $lightness:31%);
$popButtonGradient: adjust-color($popColor, $hue:$hueOffset, $lightness:11%);
$pageHeaderTitleShadow: adjust-color($pageHeaderBackgroundColor,  $lightness:-8%);
