$popColor: #ffcc00;

$linkBlue: #4276b6;
$pageHeader: $linkBlue;
$pageHeaderShadow: #235796;

$gray0: #000;
$gray1: #2b2b2b;
$gray2: #393939; // and #333 and #444
$gray3: #666;
$gray4: #999;
$gray5: #c7c7c7; // and #cbcbcb
$gray6: #e5e5e5; // and #d8d8d8
$gray7: #efefef; // and #f3f3f3
$gray8: #fbfbfb;

$popBorder: #f0b500;//adjust-color($popColor, $red:-0xf0, $green:-0x18); //f0b500
$popButton: #ffe788;//adjust-color($popColor, $green:0x19, $blue:0x88); //#ffe788;
$popButtonHover: #ffeca0;
$popButtonGradient: #ffce38;
