---
---

@import "{{ site.theme }}";

#banner {
  .group_left {
    position:fixed;
    left:50%;
    margin-left:-340px;
  }

  .group_right {
    float: right;
    margin-right:45px;
  }

  .group_right, .group_left {
    span {
      float:left;
      line-height:52px;
      font-size:90%;
      color:#9d7f0d;
      text-transform:uppercase;
      text-shadow:rgba(#fff, 0.2) 0 1px 0;
    }

    ul {
      list-style:none;
      height:40px;
      padding:0;
      float: left;
      margin-left:10px;
      li {
        display:inline;
        a.button {
          background-color: #FFE788;
        }
      }
    }
  }
  #logo {
    background: url(../images/octocat-logo.svg);
  }
}
