<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl}}/favicon.ico">
  <script src="https://code.jquery.com/jquery-3.3.0.min.js"
    integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/responsive.js' | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
  <header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </header>

  <div id="banner">
    <a href="javascript:void(0);" class="exp-icon button" onclick="expandFunction()"><i class="fa fa-bars"></i></a>
    <div class="group_left">
      <a href="{{ site.baseurl}}/" class="button">Home</a>
      <a href="{{ site.baseurl}}/nursery" class="button">Our Nursery</a>
      <a href="{{ site.baseurl}}/plants" class="button">Our Plants</a>
      <a href="{{ site.baseurl}}/photos" class="button">Photos</a>
    </div>
    <div class="group_right">
      <a href="{{ site.baseurl}}/shipping" class="button">Shipping</a>
      <a href="{{ site.baseurl}}/terms" class="button">Terms</a>
      <a href="{{ site.baseurl}}/contact" class="button">Contact Us</a>
    </div>
  </div>

  <div class="wrapper">
    <nav>
      <img src="{{ '/assets/images/logo.svg' | relative_url }}" width="150">
      <ul></ul>
    </nav>
    <section>
      {{ content }}
    </section>
    <footer>
      <p><small>Copyright Timberline Nursery &mdash; Hosted on GitHub Pages &mdash; Maintained by <a href="https://github.com/pwxn">Paul Landers</a> &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a> </small>
      </p>
    </footer>
  </div>
</body>

</html>
